{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
<header>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
        {{ page.header }}
			</div>
		</div>
	</div>
</header>
{% if is_front and show_slideshow %}
  <!-- CAROUSEL -->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      {% for key, slider in slider_contents %}
        {% autoescape 'html' %}
          {{ slider | raw }}
        {% endautoescape %}
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
{% endif %}
  {{ page.page }}
  <div class="main-container">
    <div class="container">
      <div class="row">
        {% if page.sidebar_first %}
          <aside class="sidebar-first sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
        <div class="content col-lg-{{ page.main_content_width }} col-md-{{ page.main_content_width }} col-sm-12 col-xs-12">
          {{ page.highlighted }}
          {{ page.content }}
          <!--{{ feed_icons }}-->
        </div>
        {% if page.sidebar_second %}
          <aside class="sidebar-second sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
      </div>
    </div>
  </div>

<footer>
  <div class="container svg">
    {{ page.footer }}
    <div class="clearfix"></div>
    <div class="credited pull-left"><p class="text-center">Rainbow ported to drupal by <a href="http://dropthemes.in" target="_blank">DropThemes.in</a></p></div>
    <div class="pull-right">
      <ul class="social inline">
        <li><a href="{{ google }}"><i class="fc-webicon googleplus"></i></a></li>
        <li><a href="{{ facebook }}"><i class="fc-webicon facebook"></i></a></li>
        <li><a href="{{ twitter }}"><i class="fc-webicon twitter"></i></a></li>
        <li><a href="{{ linkedin }}"><i class="fc-webicon linkedin"></i></a></li>
        <li><a href="{{ pinterest }}"><i class="fc-webicon pinterest"></i></a></li>
        <li><a href="{{ rss }}"><i class="fc-webicon rss"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
